<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>1000 Movies</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <!---start-login-script--->
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
    <!---//End-login-script--->
    <!-----768px-menu----->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/jquery.mmenu.all.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.mmenu.js') }}"></script>
    <script type="text/javascript">
        //	The menu on the left
        $(function () {
            $('nav#menu-left').mmenu();
        });
    </script>
    <!-----//768px-menu----->
</head>
<body>
<div class="content">
    <!------start-768px-menu---->
    <div id="page">
        <div id="header">
            <a class="navicon" href="#menu-left"> </a>
        </div>
    </div>
    <!------end-768px-menu---->
    <!---start-header---->
    <div class="header">
        <!---start-wrap---->
        <div class="wrap">
            <div class="header-left">
                <div class="logo">
                    <a href="/"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="back to home"/></a>
                </div>
            </div>
            <div class="header-right">

                <div class="sign-ligin-btns">
                    <ul>
                        {% if username is not none %}
                            <li id="logoutContainer"><a class="logout" id="logoutButton"
                                                        href="{{ url_for('authentication_bp.logout') }}"><span>LOGOUT</span></a>
                                <div class="clear"></div>
                            </li>
                        {% else %}
                            <li id="loginContainer" class="active"><a class="login" id="loginButton"
                                                                      href="#"><span>LOGIN</span></a>
                                <div class="clear"></div>
                                {% include 'login.html' %}
                                <!-- Login Ends Here -->
                            </li>
                            <li id="signupContainer"><a class="signup" id="signupButton"
                                                        href="#"><span>SIGNUP</span></a>
                                <div class="clear"></div>
                                {% include 'sign_up.html' %}
                                <!-- Register Ends Here -->
                            </li>
                        {% endif %}
                        <div class="clear"></div>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="wrap">
        <div class="section-title">
            <h3>1000 Movies</h3>
        </div><!--section-title-->
    </div>
</div>
<div class="main_bg">
    <div class="wrap">
        <div class="blog">
            <!-- start main_content -->
            <div class="blog_left">
                {% block content %}

                {% endblock %}
            </div>
            <div class="rsidebar span_1_of_3">
                <div class="search_box">
                    <form>
                        <input type="text" value="Movie Title" onfocus="this.value = '';"
                               onblur="if (this.value == '') {this.value = 'Movie Title';}">
                        <input type="submit" value="">
                    </form>
                </div>

                {% include 'advance_search.html' %}

                <div class="tags">
                    <h4>Genres</h4>
                    <ul>
                        {% include 'genres.html' %}
                        <div class="clear"></div>
                    </ul>
                </div>

                <div class="Categories">
                    <h4>Selected Movies</h4>
                    <ul class="sidebar">
                        {% include 'selected_movies.html' %}
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
            <!-- end main_content -->
        </div>
    </div>
</div>

<!-- start footer -->
<div class="footer">
</div>

<script>
    $('.section-title h3').click(function () {
        location.href = "/"
    })

    let checkPassword = function () {
        let password = $("#register-password").val()
        let confirmPassword = $("#confirm-password").val()
        console.log(password, confirmPassword)
        if (password !== confirmPassword) {
            alert("The two passwords entered are inconsistent.")
            return false
        }
        return true
    }

    $(function () {
        {% for get_flashed_message in get_flashed_messages() %}
            alert('{{ get_flashed_message }}')
        {% endfor %}
    })

</script>

</body>
</html>