{% extends 'home.html' %}

{% block content %}
    <div class="details">
        <h3 class="style"><a href="javascript:">{{ movie.title }}</a></h3>
        <div class="rank"><span>{{ movie.id }}</span></div>
        <hr>
        <br>
        <br>
        <p class="para">
            <span class="details-title">Genres:</span>
            {% for genre in movie.genres %}
                &nbsp;&nbsp;&nbsp;&nbsp;{{ genre.name }}&nbsp;&nbsp;&nbsp;&nbsp;
            {% endfor %}
        </p>
        <p class="para">
            <span class="details-title">Publish Year:&nbsp;&nbsp;&nbsp;&nbsp;</span>
            {{ movie.year }}
        </p>
        <p class="para">
            <span class="details-title">Rating:&nbsp;&nbsp;&nbsp;&nbsp;</span>
            {{ movie.rating }}
        </p>
        <p class="para">
            <span class="details-title">Votes:&nbsp;&nbsp;&nbsp;&nbsp;</span>
            {{ movie.votes }}
        </p>
        <p class="para">
            <span class="details-title">Revenue(Millions):&nbsp;&nbsp;&nbsp;&nbsp;</span>
            {{ movie.revenue }}
        </p>
        <p class="para">
            <span class="details-title">Metascore:&nbsp;&nbsp;&nbsp;&nbsp;</span>
            {{ movie.metascore }}
        </p>
        <p class="para">
            <span class="details-title">Director:&nbsp;&nbsp;&nbsp;&nbsp;</span>
            {{ movie.director.name }}
        </p>
        <p class="para">
            <span class="details-title">Actors:</span>
            {% for actor in movie.actors %}
                &nbsp;&nbsp;&nbsp;&nbsp;{{ actor.name }}&nbsp;&nbsp;&nbsp;&nbsp;
            {% endfor %}
        </p>
        <br>
        <br>
        <p class="para">
            <span class="details-title">Description:</span>
            <br>
            {{ movie.description }}
        </p>
        <br> <br>
        <p class="para">
            <span class="details-title">Comments:</span>
        </p>
        <hr>
        <br>
        <div id="comments">
            {% if movie.comments|length == 0 %}
                <span class="no-comments">No Comments.</span>
            {% else %}
                {% for comment in movie.comments %}
                    <div class="comment">
                        <div class="comment-username">
                            <span>{{ comment.username }}</span>
                        </div>
                        <div class="comment-publish-time">
                            <time datetime="{{ comment.timestamp }}">{{ comment.timestamp }}</time>
                        </div>
                        <div class="comment-content">
                            {{ comment.comment_text }}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}